/*
Site:       portfolio.stevedillon.net
Author:     Steve Dillon
Converted:  November, 2018

Table of Contents
1.  GLOBAL
2.  HEADER
3.  HOME PAGE
4.  FOOTER
5.  PHOTOGRAPHER'S PAGE
6.  EQUIPMENT PAGE

/* =======================================
Branding
======================================= */

/* Brand Colors 

Primary Blue: #0a3859 
Secondary Blue: #00c1d9
Accent Color: #FFBC00
Site Grey: #6B6D76;
Ice White: #f4fafe;
*/

/* =======================================
GLOBAL
======================================= */

*, *:before, *:after {
border: 1px solid red;
} 


html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
}

.cover-container {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.wrapper {
  margin: 0%;
  overflow: hidden;
}

body {
  padding: 0;
  color: rgba(0,0,0,1);
  font-family: 'Open Sans', "Palatino Linotype", "Book Antiqua" !important;
}

.container {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

a, a:hover, a:active, a:visited {
  cursor: pointer !important;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* =======================================
HEADER
======================================= */

 .navbar-nav {
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #0a3859;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/* =======================================
FOOTER
======================================= */

/* ---- Main Styling ----- */

.container-fluid h5 {
  font-size: 1.1em;
  text-align: left;
}

p.footer-text {
  color: #999999;
  margin-bottom: 0px !important;
}

p.footer-text.left {
  text-align: left;
}

.col-md-4.center, p.footer-text {
  text-align: center;
}

.col-md-4.center h5 {
  text-align: center;
}

.col-md-4.center a {
  font-size: 1.2em;
}

.col-md-4 {
  width: 25%;
  margin: 2%;
  padding-left: 0px; 
  text-align: left;
}

.bottom.row {
  background-color: #1B1B1B;
  color: #CCCCCC;
}

.col-md-12 h5 {
  float: left;
  text-transform: uppercase;
  margin: auto;
  line-height: 50px;
  vertical-align: middle;
}

/* Back to top Arrow */

#back2Top {
  width: 50px;
  line-height: 40px;
  overflow: hidden;
  opacity: 0.3;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  right: 0%;
  left: 95%;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

#back2Top:hover {
  opacity: 1;
}

span.glyphicon.up {
  border: none;
  width: 30px;
  height: 1rem;
  background: url(../images/up.png) no-repeat;
  cursor: pointer;
  opacity: 0.9;
}

span.glyphicon.down:hover {
  opacity: 1;
}

/* Bottom Nav Layout */

.nav.footer.navbar-nav > li > a {
  color: #CCCCCC;
  text-transform: uppercase;
}

.nav.footer.navbar-nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent !important;
  color: hsla(189, 100%, 50%, 0.68)
}

/* Contact Info */

address {
  margin-bottom: 0px !important;
  display: block;
  font-style: normal;
  text-decoration: none;
}

/* Newsletter */

.form-control {
  background-color: #252323;
  border-radius: 0px;
  color: #fff;
}

ul.footer-list {
  float: left;
  text-align: left;
  list-style: none;
  padding: 0% 1%;
  margin: 0px;
  color: #999999;
}

.col-md-12 a {
  color: #999999 !important;
}

input#mc-embedded-subscribe {
  color: silver;
  background: #252323;
  padding: 2% 8%;
}

input, select, textarea{
  color: #fff;
}

/* Instagram Grid */

.col-md-4.item_box {
  padding: 2% 0%;
  margin: 0px;
}

.col-md-4.item_box:hover {
  opacity: 0.8;
}
