/*
Site:       portfolio.stevedillon.net
Author:     Steve Dillon
Converted:  November, 2018

Table of Contents
1.  GLOBAL
2.  HEADER
3.  FOOTER
4.  HOME PAGE

/* =======================================
Branding
======================================= */

/* Brand Colors 

Primary Blue: #0a3859 
Secondary Blue: #00c1d9
Accent Color: #FFBC00
Site Grey: #6B6D76;
Ice White: #f4fafe;
*/

/* =======================================
GLOBAL
======================================= */

/**, *:before, *:after {
border: 1px solid red;
} 
*/

html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
}

.cover-container {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.wrapper {
  margin: 0%;
  overflow: hidden;
}

body {
  padding: 0;
  color: rgba(0,0,0,1);
  font-family: 'Open Sans', "Palatino Linotype", "Book Antiqua" !important;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #0a3859;
}

/* Links */
a {
  color: #0a3859;
}

a, a:hover, a:active, a:visited {
  cursor: pointer !important;
  text-decoration: none;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* =======================================
HEADER
======================================= */

img.logo {
  width: 45%;
}

.navbar {
  padding: 1% 10%;
}

.navbar-nav {
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-light .navbar-nav .nav-link {
  color: #0a3859 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #00c1d9 !important;
}

.navbar-brand {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  margin-right: 0rem !important;
}

header.masthead.mb-auto {
  border-bottom: .5px solid #0a3859 ;
}

.masthead-brand {
  margin-bottom: 0;
}

.mb-auto, .my-auto {
  margin-bottom: inherit !important;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #0a3859;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

ul.nav.navbar-nav.ml-auto > li {
  width: 175px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

button.navbar-toggler.collapsed {
  border: 1px solid #0a3859;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* ---- Dropdown Menu ---- */

ul.dropdown-menu {
  border: 0px !important;
}

.navbar-nav > li > a {
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dropdown ul {
  position: absolute;
  width: 250px;
  top: 50px;
  font-size: 1em;
  border-radius: 3px;
  left: 0px;
  list-style: none;
  padding: 5% 0% 6% 0%;
  display: none;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.175);
}

.dropdown ul li {
  display: block;
  white-space: nowrap;
  min-width: 100px;
  height: 50px;
}

.dropdown ul li:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.dropdown-menu > li > a {
  padding: 5% 0% 10% 10%;
  color: #0a3859;
  display: block;
}

ul.dropdown-menu > li > a:hover {
  color: #00c1d9;
}

/*-- Dropdown Submenu Modified from this Codepen: https://codepen.io/ajaypatelaj/pen/prHjD?editors=1100--*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-submenu-drop {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-submenu-drop {
    display: block;
}

ul.dropdown-submenu-drop {
    padding: 2% 0% !important;
}

..dropdown-submenu-drop ul li:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.dropdown-submenu-drop > li > a {
  padding: 5% 0% 10% 10%;
  color: #0a3859;
  display: block;
}

ul.dropdown-submenu-drop > li > a:hover {
  color: #00c1d9;
}

.dropdown-submenu-drop>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropright .dropdown-toggle::after {
    margin-left: 6em;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    /*left: -100%;*/
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*-- Dropdown Submenu End --*/

/*
 * Cover
 */
 .cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* =======================================
FOOTER
======================================= */

footer {
  background: #0a3859;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #00c1d9;
}

.footer.row {
  padding: 1% 0%;
}

.col.left {
  padding-top: 5px;
}

.col.center {
  line-height: 50px;
}

.col.right img {
  width: 60%;
}

.s-icons {
  float: left;
}

.s-icons a:hover {
  opacity: .8;
}

.s-icons a {
  border-radius: 20px;
  background-color: #ffffff;
  display: inline-block;
  width: 38px;
  line-height: 38px;
  color: #0a3859;
  height: 38px;
  padding: 0;
  font-size: 16px;
  margin: 5px 10px 0px 10px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.footer.section {
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Back to top Arrow */

#back2Top {
  width: 50px;
  line-height: 40px;
  overflow: hidden;
  opacity: 0.3;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  right: 0%;
  left: 95%;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

#back2Top:hover {
  opacity: 1;
}

span.glyphicon.up {
  border: none;
  width: 30px;
  height: 1rem;
  background: url(../images/up.png) no-repeat;
  cursor: pointer;
  opacity: 0.9;
}

span.glyphicon.down:hover {
  opacity: 1;
}

/* =======================================
HOME PAGE
======================================= */

main.inner {
  background-image: url(../images/bg/image_1_sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: -webkit-fill-available;
}

.title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.heading {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.heading h1 {
  font-size: 5.5em;
  color: #fff;
  font-family: Raleway;
  margin-bottom: 5%;
  text-transform: uppercase;
}

a.btn.btn-lg.btn-secondary {
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  padding: .5rem 4rem;
  text-transform: uppercase;
}

/* =======================================
PORTFOLIO PAGE
======================================= */

.content-wrap {
  padding: 4% 5% 0% 5%;
  margin-left: auto;
  margin-right: auto;
  height: -webkit-fill-available;
}

.flex-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.flex-item {
  float: left;
  margin-bottom: 4%;
}

.flex-item h5 {
  margin: 2% 0% 2% 0%;
  text-transform: uppercase;
}

.flex-item img {
  width: 60%;
  border: 1px solid rgba(10, 56, 89, .4);
}

.item {
  height: auto;
}

/* =======================================
WEB DESIGN PAGE
======================================= */

.content-wrap.proj-cat {
  width: 80%;
  height: auto;
  padding: 5% 0% 0%;
}

.content-wrap.proj-cat.content {
  height: -webkit-fill-available;
}

.proj-title {
  margin: 5% 0% 5%;
}

.proj-title h2 {
  text-transform: uppercase;
}

.content-wrap.proj-cat.content {
  width: 100%;
  padding: 0% 0%;
}

.flex-item.proj-cat {
  flex-grow: 1;
}

.flex-item.proj-cat img {
    border: 1px solid rgba(107, 109, 118, .3);
}

/* =======================================
ABOUT PAGE
======================================= */

.col-6 {
  float: left;
}

.col-6.image {
  width: 45%;
  float: left;
  text-align: right;
}

.col-6.image img {
  width: 60%;
}

.content-wrap.about {
  width: 90%;
  padding: 5% 0% 0% 5%;
}

.col-6.text {
  width: 45%;
  text-align: justify;
  padding-bottom: 2%;
}

.col-6.text h2 {
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-position: under;
}

p.sub-title {
  font-weight: 100;
  font-style: italic;
  color: #8d8d8d;
}

p.credits {
  margin-bottom: 0px;
}

.resume-button {
  margin-top: 3%;
}

.resume-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  padding: .5rem 1.5rem;
  background-color: #0A3859;
  box-shadow: 1px 1px 5px 0px #000000;
  -webkit-box-shadow: 1px 1px 5px 0px #000000;
  -moz-box-shadow: 1px 1px 5px 0px #000000;
  border: solid #0A3859 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.resume-button:hover {
  background: #FFFFFF;
  text-decoration: none;
  color: #0A3859;
}

/* =======================================
SURF STARS PAGE
======================================= */

.content-wrap.surf-stars {
  width: 80%;
  padding: 2% 0% 0% 5%;
}

.col-6.text h5, .program-descr {
    font-weight: 600;
}

p.program-descr {
    margin-bottom: 0px;
}

/*-- Project Image Grid Start --*/

.grid-wrap {
  width: 100% !important;
  float: left;
  margin-left: 20%;
}

.image-group {
  float: left;
  width: 33.3%;
  cursor: pointer;
  margin: .5%;
}

.image-group img {
  width: 95%;
}

/* ---- Overlay from this Codepen: https://codepen.io/anon/pen/NOgEdY Start ----- */

.content { 
  display: block; 
  position: relative; 
  overflow: hidden; 
}

.content .content-overlay {
  background: rgba(10, 56, 89, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 35%;
  opacity: 1;
}

.content-details.two-line {
  top: 25%;
}

.content-details h4 {
  color: #fff;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  font-variant: small-caps;
}

hr {
  width: 60px;
  border: 2px solid #2eb6d1;
}

/* ---- End Overlay ----- */

