/*
Site:       portfolio.stevedillon.net
Author:     Steve Dillon
Converted:  November, 2018

Table of Contents
1.  GLOBAL
2.  HEADER
3.  FOOTER
4.  HOME PAGE

/* =======================================
Branding
======================================= */

/* Brand Colors 

Primary Blue: #0a3859 
Secondary Blue: #00c1d9
Accent Color: #FFBC00
Site Grey: #6B6D76;
Ice White: #f4fafe;
*/

/* =======================================
GLOBAL
======================================= */

/**, *:before, *:after {
border: 1px solid red;
} */


html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
}

.cover-container {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.wrapper {
  margin: 0%;
  overflow: hidden;
}

body {
  padding: 0;
  color: rgba(0,0,0,1);
  font-family: 'Open Sans', "Palatino Linotype", "Book Antiqua" !important;
}

/* Links */
a {
  color: #0a3859;
}

a, a:hover, a:active, a:visited {
  cursor: pointer !important;
  text-decoration: none;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* =======================================
HEADER
======================================= */

img.logo {
    width: 45%;
}

.navbar {
    padding: 1% 10%;
}

 .navbar-nav {
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-light .navbar-nav .nav-link {
    color: #0a3859 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #00c1d9 !important;
}

.navbar-brand {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  margin-right: 0rem !important;
}

header.masthead.mb-auto {
  border-bottom: .5px solid #0a3859 ;
}

.masthead-brand {
  margin-bottom: 0;
}

.mb-auto, .my-auto {
    margin-bottom: inherit !important;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #0a3859;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

ul.nav.navbar-nav.ml-auto > li {
    width: 175px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

button.navbar-toggler.collapsed {
  border: 1px solid #0a3859;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* ---- Dropdown Menu ---- */

ul.dropdown-menu {
  border: 0px !important;
}

.navbar-nav > li > a {
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dropdown ul {
  position: absolute;
  width: 250px;
  top: 50px;
  font-size: 1em;
  border-radius: 3px;
  left: 0px;
  list-style: none;
  padding: 5% 0% 6% 0%;
  display: none;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.175);
}

.dropdown ul li {
  display: block;
  white-space: nowrap;
  min-width: 100px;
  height: 50px;
}

.dropdown ul li:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.dropdown-menu > li > a {
  padding: 5% 0% 10% 10%;
  color: #0a3859;
  display: block;
}

ul.dropdown-menu > li > a:hover {
    color: #00c1d9;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* =======================================
FOOTER
======================================= */

footer {
  background: #0a3859;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #00c1d9;
}

.footer.row {
  padding: 1% 0%;
}

.col.left {
    padding-top: 5px;
}

.col.center {
  line-height: 50px;
}

.col.right img {
  width: 60%;
}

.s-icons {
  float: left;
}

.s-icons a:hover {
    opacity: .8;
}

.s-icons a {
  border-radius: 20px;
  background-color: #ffffff;
  display: inline-block;
  width: 38px;
  line-height: 38px;
  color: #0a3859;
  height: 38px;
  padding: 0;
  font-size: 16px;
  margin: 5px 10px 0px 10px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.footer.section {
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Back to top Arrow */

#back2Top {
  width: 50px;
  line-height: 40px;
  overflow: hidden;
  opacity: 0.3;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  right: 0%;
  left: 95%;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

#back2Top:hover {
  opacity: 1;
}

span.glyphicon.up {
  border: none;
  width: 30px;
  height: 1rem;
  background: url(../images/up.png) no-repeat;
  cursor: pointer;
  opacity: 0.9;
}

span.glyphicon.down:hover {
  opacity: 1;
}

/* =======================================
HOME PAGE
======================================= */

main.inner {
  background-image: url(../images/bg/image_1_sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: -webkit-fill-available;
}

.title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.heading {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.heading h1 {
  font-size: 5.5em;
  color: #fff;
  font-family: Raleway;
  margin-bottom: 5%;
  text-transform: uppercase;
}

a.btn.btn-lg.btn-secondary {
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  padding: .5rem 4rem;
  text-transform: uppercase;
}

/* =======================================
PORTFOLIO PAGE
======================================= */

main.portfolio-grid {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: -webkit-fill-available;
}

.col-grid {
  width: 30%;
  border: 1px solid;
  padding: 8% 10%;
  margin: 1%;
}